@import url(https://fonts.googleapis.com/css?family=Raleway);

html {
  background-color: white;
}

body {
  font-family: 'Raleway'; sans-serif;
}

#Navigation
{
  float: right;
  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
  margin-right: 30px;
}

header {
  overflow: auto;
  background-color: white;
}
#Heading {
  background-color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 10px;
  margin-right: 65%;
  margin-left: 5%;
}

#image2 {
  background-image: url("images/foodtruck.jpg");
  align-content: center;
  padding-bottom: 45px;
  padding-top: 20px;
}

#Sub-heading {
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding right: 10px;
  margin-right: 80%;
  margin-left: 5%;
}

#Story {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 80px;
  padding-right: 30px;
  margin-right: 30px;
}


#Footer {
  background-color: white;
  padding-top: 35px;
  padding-bottom: 30px;
  padding-left: 30px;
  margin-left: 5%;
}
